/* Global styles and imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');


/* Color variables */
:root {
    --blue: #3883F6;
    --dark-1: #1F2937;
    --light-1: #F9FAF8;
    --light-2: #E5E7EB;
}

/* Base element styles */
body {
    font-family: Roboto, sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: var(--dark-1);
  }
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--light-2);
    font-size: 18px;
}

button {
    cursor: pointer;
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
    width: auto;
    color: var(--light-1);
    background: var(--blue);
  }
  
/* General layout */
.section {
    padding: 0 92px;
}

.text {
    font-size: 18px;
}

/* Header section */
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 16px;
}

.header .logo {
    font-size: 24px;
    font-weight: 400;
    color: var(--light-1);
}

.links {
    display: flex;
    gap: 32px;
}

/* Hero section */
.hero {
    display: flex;
    align-items: flex-start;
    padding-top: 48px;
    padding-bottom: 48px;
}

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 32px;
    gap: 8px;
}

.hero .title {
    color: var(--light-1);
    font-size: 48px;
    font-weight: 700;
}

.hero .text {
    color: var(--light-2);
}

/* Info section */
.info {
    display: flex;
    flex-direction: column;
    background: var(--light-1);
    padding-top: 48px;
    padding-bottom: 72px;
}

.info .title {
    font-size: 36px;
    font-weight: 700;
    color: var(--dark-1);
    text-align: center;
    margin-bottom: 32px;
}

.info .container {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.item {
    text-align: center;
    max-width: 200px;
}

.item img {
    border: 3px solid var(--blue);
    border-radius: 8px;
    margin-bottom: 8px;
}

/* Testimonial section */
.testimonial {
    display: flex;
    justify-content: center;
    background: var(--light-2);
    padding-top: 60px;
    padding-bottom: 60px;
}

.testimonial .container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: var(--dark-1);
    padding-bottom: 12px;
}

.author {
    align-self: flex-end;
    font-weight: 700;
}

/* Call-to-action section */
.cta {
    display: flex;
    justify-content: center;
    background: var(--light-1);
    padding-top: 72px;
    padding-bottom: 72px;
    color: var(--light-1);
}

.cta .panel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--blue);
    border-radius: 8px;
    padding: 48px;
    width: 100%;
    max-width: 800px;
}

.cta .container {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
}

.cta .title {
    font-size: 24px;
    font-weight: 700;
}

.cta button {
    border: 2px solid var(--light-1) ;
    flex-shrink: 0;
}