/* Global styles and imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/* Color variables */
:root {
    --blue: #3883F6;
    --dark-1: #1F2937;
    --light-1: #F9FAF8;
    --light-2: #E5E7EB;
}

/* Base element styles */
body {
    font-family: Roboto, sans-serif;
    min-height: 100vh;
    margin: 0 92px;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-1);
  }
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--light-2);
    font-size: 18px;
}

button {
    cursor: pointer;
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
    width: auto;
    color: var(--light-1);
    background: var(--blue);
  }
  
/* General layout */
.left, .right, .container {
    display: flex;
}

/* Header section */
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 16px 0;
}

.header .logo {
    font-size: 24px;
    font-weight: 600;
    color: var(--light-1);
}

.links {
    display: flex;
    gap: 32px;
}

/* Hero section */
.hero {
    display: flex;
    align-items: flex-start;
    margin-top: 48px;
}

.hero .container {
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 50%;
    margin-right: 32px;
    gap: 8px;
}

.hero img {
    flex-basis: 50%;
}

.hero .title {
    color: var(--light-1);
    font-size: 48px;
    font-weight: 900;
}

.hero .text {
    color: var(--light-2);
    font-size: 18px;
}

